.SearchFormWrapper {
    box-sizing: border-box;
    max-width: 400px;
    margin: 40px auto;
}

button.SearchButton {
    width: 100px;
}

button.SearchButton:hover {
    border: 1px solid rgb(25, 63, 107);
}

button.SearchButton:active {
    box-shadow: none;
}

input.SearchInput {
    padding: 1px 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(46, 121, 207);
    outline: none
}