.PageControls {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.PageControls p {
    font-weight: bold;
    color: rgb(46, 121, 207);
}